<Jumbo>
  <h2>New Listing</h2>
  <p>Fill in the form to create a listing.</p>
  <button class="button" {{on "click" this.back}}>Back</button>
</Jumbo>
{{!-- TODO: Don't duplicate this form between edit and create --}}
<div class="form-container">
  {{#form-for @rental submit=(action this.save) reset=(action this.clear) class="edit-form" as |f|}}
    {{f.text-field "title" required}}
    {{f.text-field "owner" required}}
    {{f.text-field "city" required}}
    {{f.text-field "category" required}}
    {{f.number-field "bedrooms" required}}
    {{f.text-field "image" required label="Image URL"}}
    {{f.textarea-field "description" required}}
    {{f.number-field "lat" required label="Latitude" step="0.0001"}}
    {{f.number-field "lng" required label="Longitude" step="0.0001"}}

    <div class="form-buttons">
      {{f.reset "Clear" class="button reset-button"}}
      {{f.submit "Submit" class="button"}}
    </div>
  {{/form-for}}
</div>