<Jumbo>
  <h2>Edit {{this.staticTitle}}</h2>
  <p>Update this listing below.</p>
  <button class="button" {{on "click" this.cancel}}>Back</button>
</Jumbo>
<Rental::Form @rental={{@rental}} @save={{this.save}} @cancel={{this.cancel}} @resetButton="Cancel" />